state_machine_code/parallel_pass_lambda/parallel_pass_lambdas.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Parallel",
  "States": {
    "Parallel": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "x",
          "States": {
            "x": {
              "Type": "Pass",
              "Parameters": {
                "x": 11,
                "y": 12
              },
              "OutputPath": "$",
              "Next": "Add2"
            },
            "Add2": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload",
              "Parameters": {
                "Payload.$": "$",
                "FunctionName": "arn:aws:lambda:us-east-1:432599188850:function:stepfunctionhelloworld-dev-add:1"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2
                }
              ],
              "End": true
            }
          }
        },
        {
          "StartAt": "y",
          "States": {
            "y": {
              "Type": "Pass",
              "Parameters": {
                "x": 12,
                "y": 145
              },
              "OutputPath": "$",
              "Next": "Add1"
            },
            "Add1": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload",
              "Parameters": {
                "Payload.$": "$",
                "FunctionName": "arn:aws:lambda:us-east-1:432599188850:function:stepfunctionhelloworld-dev-add:$LATEST"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2
                }
              ],
              "End": true
            }
          }
        }
      ],
      "Next": "head"
    },
    "head": {
      "Type": "Pass",
      "End": true,
      "InputPath": "$",
      "ResultPath": "$"
    }
  }
}
